

    #header
    {
        
        
        height: 60px;
        margin: none;
        width: 100% ;
        box-sizing: content-box !important;
        background-color: #2F2FA2;
        
    }
    hr{
        border-top: 1px solid #F64C72;
        border-bottom: none;
        width: 90%;
        margin-left: 30px; 
    }

    h1{
        font-size: 40px;
        font-weight: bold;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left:80px;
        color: #F64C72;
        font-family: 'Lobster', cursive;
    }
    body{
        
        font-family: 'Ubuntu', sans-serif;
        overflow: none !important;
        color: white;
        background-color: #2F2FA2;
         
    }
    p{
        font-family: 'Lobster', cursive;
        font-size:40px;
        color: #99738E;
        margin-top: 25px;
        margin-left: 20px;;
    }
    #desc{
        font-size: 30px;
        text-align: center;
        box-sizing: content-box !important;
        
    }
    #form-div
    {
        margin-top:5px;
        
        height:100%;
        box-sizing: content-box !important;
    }

    #enter-url
    {
        margin-top: 40px;
        box-sizing: content-box !important;
    }
    #URL
    {
        
        border-radius: 10px;
        border: none;
        height:50px;
        font-size: 20px;
        align-items: center;  
        margin-top: 80px;
        box-sizing: content-box !important;
        width:350px;
        border-radius: 30px;
        padding-left: 30px;
        margin-left: -18px; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    }
    #div2{
        margin-top: 60px;
    }
    
    .material-icons.md-36 { font-size: 36px;
        margin-top: 10px;
    }
    

    #submit
    {
        border-radius: 25px;
        border:none;
        width:150px;
        height:55px;
        font-size: 20px;
        
        margin-top:60px;
        margin-left:90px;
        background-color: #F64C72;
        color:white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    }
    #shortened-url{
        border-radius:25px;
        padding-left: 10px;
        border:none;
        font-size:20px;
    }



    @media (min-width: 768px) {
        
        #desc{
            font-size:45px;
        }
        p{
            font-size:50px;
            margin-left:40px;
        }
        
        #enter-url{
            font-size:30px;
        }

        #URL{
            width:90%;
            margin-left: 14px;
        }

        #div2{
            font-size:30px;
            padding-left:40px;
        }

        #shortened-url{
            width:45%;
        }

        #submit{
            margin-left:38%;
        }

        hr{
            margin-left:50px;
        }
    }
    
    
    @media (min-width: 992px) {

        #URL{
            width:40%;
            margin-left: 400px;
        }

        #div2{
            font-size:30px;
            padding-left:300px;
            padding-right:none;
        }

        #desc{
            font-size:35px;
        }

        #submit{
            margin-left:630px;
        }