<!DOCTYPE html>
<html language='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    
    
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>URL Shortener</title>
  </head>
  <body>
    <header id="header" class="container-fluid p-3  text-white">
      <h1>URL-Shortener</h1>
    </header>
    <hr >

      
      <div  id="desc"></div>
      
    </div>
    <div id="form-div" class="container-fluid "> 
      <form action="#" id="form">
        
          
          <!--<label for="URL" id="enter-url">Enter URL:</label>-->
          
        <p>For click-worthy URLs</p>
        <div class="row,container">
          
          <div class="col"><input type="text" id="URL" name="URL" placeholder="Enter URL to be shortened"></div>
          
        </div>
        <!--<div class="row,container" id="div2">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">https://abcd.com/<input type="text" name="shortened-url" id="shortened-url" placeholder="Enter desired URL"></div>
          <div class="col-sm-1"></div>
        </div>-->
        <div class="row,container">
          <div class="col"></div>
          <div class="col"><input type="submit" value="Shorten" id="submit" ></div>
          <div class="col"></div>
      </div>
      </form>
    </div>
    
    
    <div class="container">
    <div class="results">
      Your shortened url is:
      <% shortUrls.forEach(shortUrl => { %>
        <a href="<%= shortUrl.short %>"  <%= shortUrl.short %> </a>
        <% }) %>

    </div>
  </div>


    <script>

      /*$("#submit").click(function(){
        $(".results").show();
      })*/
            

    </script>
        


    

  </body>
</html>

